* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    margin: 0 20px;
}

header h1 {
    font-family: 'Noto Sans JP'; 
    font-size: 40px
}

header h2 {
    font-family: 'New Tegomin'; 
    position: relative; 
    bottom: 15px; 
    font-size: 20px;
    font-style: italic;
    color: rgb(97, 97, 97);
}

#content {
    display: flex;
}

#left {
    margin-left: 10px;
    float: left;
    width: 20%;
    min-width: 220px;
    max-width: 250px;
}

#right {
    margin-right: 10px;
    float: right;
    width: 83%;
}

#categories {
    font-family: "Work Sans";
    font-weight: 600;
    padding: 15px 0;
    box-shadow: 0px 0px 5px black;
}

.category {
    display: inline;
    width: 100px;
    color: green;
    margin-left: 10px;
}

.category:hover {
    text-decoration: underline green;
    cursor: pointer;
}

.sub-category {
    display: inline;
    width: 100px;
    color: green;
    margin-left: 22px;
}

.sub-category:hover {
    text-decoration: underline green;
    cursor: pointer;
}

.listings {
    display: inline-block;
    color: gray;
    font-style: italic;
}

#market {
    padding-left: 20px;
    text-align: center;
}

.item {
    position: relative;
    width: 250px;
    height: 235px;
    display: inline-table;
    margin: 10px 5px;
}

.item img {
    width: 250px;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.item .desc {
    color: green;
    font-family: "Montserrat";
    font-weight: 500;
    text-align: left;
}

.item:hover {
    text-decoration: underline green;
    cursor: pointer;
}

.prices {
    color: rgb(233, 233, 233);
    font-family: "Source Sans Pro";
    font-weight: 500;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.item .price {
    float: left;
    display: inline;
    background-color: rgba(201, 49, 29, 0.986);
    padding: 5px;
    border-radius: 10px;
}

.item .price2 {
    float: right;
    display: inline;
    background-color: rgb(49, 170, 70);
    padding: 5px;
    border-radius: 10px;
}



